In [1]:
h = "Hello"

In [2]:
h

'Hello'

In [3]:
s = []

In [4]:
s[200] = 3

IndexError: list assignment index out of range

In [5]:
s = ''

In [6]:
s[5] = 3

TypeError: 'str' object does not support item assignment

In [7]:
s = (50,)

In [8]:
s

(50,)

In [9]:
s[20] = 430

TypeError: 'tuple' object does not support item assignment

In [25]:
s = range(11, -1, -2)

In [26]:
s

range(11, -1, -2)

In [27]:
for i in s:
    print (i)

11
9
7
5
3
1

In [28]:
type(s)

range

In [29]:
def Square(p):
    return p*p

In [30]:
Square(21)

441

In [31]:
def is_triangular(k):
    """
    k, a positive integer
    returns True if k is triangular and False if not
    """
    tri = 0
    num = 1
    
    while tri < k:
        tri += num
        num += 1
        
    return tri == k

In [36]:
is_triangular(15)

True

In [37]:
def print_without_vowels(s):
    '''
    s: the string to convert
    Finds a version of s without vowels and whose characters appear in the 
    same order they appear in s. Prints this version of s.
    Does not return anything
    '''
    out = ''
    for ch in s:
        if ch not in 'aeiou':
            out += ch
    return out

In [38]:
print_without_vowels('This is great')

'Ths s grt'

In [39]:
print_without_vowels('Does this work')

'Ds ths wrk'

In [ ]:
def largest_odd_times(L):
    """ Assumes L is a non-empty list of ints
        Returns the largest element of L that occurs an odd number 
        of times in L. If no such element exists, returns None """
    
    maxOdd = None

    for time in L:
        if

In [40]:
dumb = None

In [41]:
dumb

In [42]:
type(dumb)

NoneType

In [49]:
odt = [2, 9]

In [50]:
max(odt)

9

In [51]:
odt[0]

2

In [52]:
odt.remove(2)

In [53]:
odt

[9]

In [59]:
def largest_odd_times(L):
    """ Assumes L is a non-empty list of ints
        Returns the largest element of L that occurs an odd number 
        of times in L. If no such element exists, returns None """
    
    oddTimes = []

    for num in L:
        if num in oddTimes:
            oddTimes.remove(num)
        else:
            oddTimes.append(num)
    if len(oddTimes) > 0:
        return max(oddTimes)

In [60]:
largest_odd_times([2,2,4,4])

In [61]:
type(largest_odd_times([2,2,4,4]))

NoneType

In [62]:
largest_odd_times([3,9,5,3,5,3])

9

In [63]:
type(largest_odd_times([3,9,5,3,5,3]))

int

In [68]:
d = {1:10, 2:20, 3:30, 4:30}

In [69]:
type(d.keys())

dict_keys

In [70]:
d.values()

dict_values([10, 20, 30, 30])

In [71]:
d[50] = 20

In [72]:
d

{1: 10, 2: 20, 3: 30, 4: 30, 50: 20}

In [78]:
k = d.keys()

In [81]:
for elm in k:
    print (elm)

1
2
3
4
50

In [84]:
50 in d

True

In [94]:
def dict_invert(d):
    '''
    d: dict
    Returns an inverted dictionary according to the instructions above
    '''
    inv = {}
    
    for elm in sorted(d):
        if d[elm] in inv:
            inv[d[elm]].append(elm)
        else:
            inv[d[elm]] = [elm]
            
    return inv

In [95]:
d

{1: 10, 2: 20, 3: 30, 4: 30, 50: 20}

In [96]:
dict_invert(d)

{10: [1], 20: [2, 50], 30: [3, 4]}

In [97]:
a = {12: 3}

In [98]:
dict_invert(a)

{3: [12]}

In [90]:
d.keys()

dict_keys([1, 2, 3, 4, 50])

In [91]:
d.keys().sort()

AttributeError: 'dict_keys' object has no attribute 'sort'

In [92]:
d.sort()

AttributeError: 'dict' object has no attribute 'sort'

In [93]:
sorted(d)

[1, 2, 3, 4, 50]

In [103]:
def a(x):
    def b(y):
        return x * y
    return b

In [104]:
a(5)

In [105]:
p = a(4)

In [106]:
type(p)

function

In [107]:
p(2)

8

In [108]:
a(2)(12)

24

In [109]:
def general_poly (L):
    """ L, a list of numbers (n0, n1, n2, ... nk)
    Returns a function, which when applied to a value x, returns the value 
    n0 * x^k + n1 * x^(k-1) + ... nk * x^0 """
    
    def poly(x):
        tot = 0
        exp = len(L)
        for coef in L:
            exp -= 1
            tot += coef * (x ** exp)
        
        return tot
    return poly

In [110]:
general_poly([1, 2, 3, 4])(10)

1234

In [111]:
c = general_poly([1, 2, 3])

In [112]:
d = general_poly([1, 2, 3, 4])

In [113]:
c(10)

123

In [114]:
d(10)

1234

In [119]:
l = [1, 1, 2, 3]

In [120]:
l.remove(1)

In [121]:
l

[1, 2, 3]

In [122]:
l.remove(1)

In [123]:
l

[2, 3]

In [125]:
d = {1: 10, 2: 20, 3: 30, 4: 30, 50: 20}

In [129]:
max(d)

50

In [131]:
max(d, key=d.get)

3

In [144]:
def is_list_permutation(L1, L2):
    '''
    L1 and L2: lists containing integers and strings
    Returns False if L1 and L2 are not permutations of each other. 
            If they are permutations of each other, returns a 
            tuple of 3 items in this order: 
            the element occurring most, how many times it occurs, and its type
    '''
    elms = {}
    for elm in L1:
        if elm in L2:
            L2.remove(elm)
            if elm in elms:
                elms[elm] += 1
            else:
                elms[elm] = 1
        else:
            return False
    if len(L2) > 0:
        return False
    elif len(elms) == 0:
        return(None,None,None)
    else:
        most = max(elms.values())
        for k in elms:
            if elms[k] == most:
                return (k, most, type(k))

In [145]:
is_list_permutation([3, '5', 7, 1], [1, 2, 3, '5', 7])

False

In [147]:
is_list_permutation([], [])

(None, None, None)

In [134]:
max(is_list_permutation([1, 'b', 1, 'c', 'c', 1],[1, 'b', 1, 'c', 'c', 1]).values())

3